<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #ff9100;">
      <a class="navbar-brand" href="/urls">TinyApp</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link" href="/urls">My URLs</a>
          <a class="nav-item nav-link" href="/urls/new">Create New URL</a>
        </div>
      </div>
            <% if(userID) { %> 
              <form method='POST' action="/logout">
                <div class="input-group mt-3 mb-3">
                  <p class='text-light pr-2'>Logged in as <%= userID.email %></p>
            <input class="btn btn-outline-light btn-sm" type="submit" value='Logout'>
          </div>
        </form>
              <% } else { %>           
                <div class="mt-3 mb-3">
                <a href="http://localhost:8080/login" class="btn btn-outline-light">Login</a>
                <a href='http://localhost:8080/register' class="btn btn-outline-light">Register</a>
              </div>
            <% } %> 
    </nav>
  </header>
</body>
</html>